@use './variables' as v;
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700;800;900&display=swap');

//Reset
*,
*::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Be Vietnam Pro', system-ui, sans-serif;
  color: var(--color-black-light);
  font-size: var(--fs-base);
  line-height: 1.6;
  letter-spacing: -.25px;
  background-image: url(../images/bg-tablet-pattern.svg), url(../images/bg-tablet-pattern.svg);
  background-repeat: no-repeat;
  background-position: right top -25%, left -30% bottom 20%;
  background-size: auto 30%;
}

a {
  font-weight: var(--font-weight-bd);
  letter-spacing: -.5px;
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: 'Be Vietnam Pro', system-ui, sans-serif;
  color: var(--color-black-base);
  font-weight: var(--font-weight-xbd);
}

h1 {
  font-size: var(--fs-xxl);
  line-height: 1.15;
  letter-spacing: -1.5px;
}

h2 {
  font-size: var(--fs-xl);
  line-height: 1.2;
  letter-spacing: -1px;
}

h3 {
  font-size: var(--fs-base);
  letter-spacing: -.75px;
}

main {
  overflow-x: clip;
}

ul,
li {
  list-style: none;
}

button {
  all: unset;
}

input,
textarea {
  min-width: 0;
  // flex 컨테이너에서 width: 100%로 설정해서 사용
}
