@use './utils' as u;
@use './variables' as v;

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.wrapper {
  width: min(v.$content-max-width, 100% - 3rem);
  margin-inline: auto;
}

.button {
  padding: var(--space-300) var(--space-500);
  background-color: var(--color-red-base);
  border-radius: var(--radius-base);
  color: var(--color-gray-base);
  filter: drop-shadow(0px 3px 1.5px hsl(0 0% 80%));

  &:link,
  &:visited {
    color: var(--color-gray-base);
  }

  &:hover {
    background-color: var(--color-red-light);
    color: var(--color-gray-base);
  }

  &--white {

    &:link,
    &:visited {
      color: var(--color-red-base);
      background-color: var(--color-gray-base);
      filter: none;
    }

    &:hover {
      color: hsl(13, 100%, 86%);
    }
  }
}

.logo {
  width: 10rem;
}

.feature {
  &__item {
    &+& {
      margin-top: var(--space-600);
    }
  }

  &__heading {
    position: relative;

    &::after {
      @media screen and (width < v.$breakpoint-mobile) {
        content: "";
        background-color: var(--color-red-exlight);
        position: absolute;
        width: 100vw;
        height: 100%;
        left: var(--space-600);
        z-index: -1;
      }
    }

    &::before {
      counter-increment: feature;
      content: counter(feature, decimal-leading-zero);
      position: absolute;
      left: calc(-1 * var(--space-800));
      top: 50%;
      transform: translateY(-50%);
      background-color: var(--color-red-base);
      color: var(--color-gray-base);
      width: 6ch;
      text-align: center;
      padding-top: var(--space-200);
      padding-bottom: var(--space-200);
      border-radius: var(--radius-base);

      @media screen and (width < v.$breakpoint-mobile) {
        position: static;
        display: inline-block;
        margin-right: var(--space-300);
        transform: translateY(0);
      }
    }
  }

  &__desc {
    margin-top: var(--space-200);
  }

}

.person {
  &__image {
    position: absolute;
    width: 5rem;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__name {
    margin-top: var(--space-600);
    font-weight: var(--font-weight-xbd);
    color: var(--color-black-base);
  }

  &__comment {
    margin-top: var(--space-400);
  }
}

.contact {
  &__list {
    @media screen and (width < v.$breakpoint-mobile) {
      order: -1;
      display: flex;
      width: 100%;
      justify-content: space-around;
    }

  }

  &__link {

    &:link,
    &:visited {
      color: var(--color-gray-base);
      font-size: var(--fs-md);

      @media screen and (width < v.$breakpoint-mobile) {
        font-size: var(--fs-xl);
      }
    }

    &:hover {
      color: var(--color-red-light);
    }

    &+& {
      margin-left: 1ch;
    }
  }
}

.submenu {
  grid-auto-flow: column;
  row-gap: var(--space-200);

  @media screen and (width < v.$breakpoint-mobile) {
    row-gap: var(--space-300);
  }

  &__item {
    width: fit-content;
  }

  &__link {
    font-family: var(--font-weight-base);

    &:link,
    &:visited {
      color: var(--color-gray-base);
      font-size: var(--fs-base);
    }

    &:hover {
      color: var(--color-red-light);
    }
  }
}

.subscription {
  position: relative;

  @media screen and (width < v.$breakpoint-mobile) {
    order: -2;
    margin-bottom: var(--space-300);
    display: flex;
  }

  &__input {
    padding: var(--space-400) var(--space-500);
    font-size: var(--fs-base);
    border-radius: var(--radius-base);
    border: none;
    margin-right: var(--space-100);

    @media screen and (width < v.$breakpoint-mobile) {
      width: 100%;
    }


    &:focus {
      outline: 1.7px solid var(--color-red-base);
      color: var(--color-red-base);

      &:invalid+.subscription__invalid:after {
        content: "Please insert a valid email";
        color: var(--color-red-base);
        position: absolute;
        bottom: calc(var(--space-300) * -1);
        left: var(--space-500);
        font-size: var(--fs-sm);
        font-style: italic;

        @media screen and (width < v.$breakpoint-mobile) {
          bottom: calc(var(--space-500) * -1);
        }
      }
    }
  }

  &__button {
    filter: none;
  }
}

.copyright {
  font-size: var(--fs-sm);
  letter-spacing: 1.05;
}
