@use './variables' as v;
@use './mixins' as m;

body {
  &::after {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: transparent;
  }

  transition: background-image 1s;

  &[data-menu="opened"] {
    @media screen and (width < v.$breakpoint-mobile) {
      &::after {
        background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.4));
        z-index: 1;
      }
    }
  }
}


.header {
  margin-top: var(--space-500);
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;

  &__menu-toggle {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    width: 2rem;
    height: 2rem;
    border: none;
    display: none;
    transition: background-image 0.3s;
    z-index: 2;
    position: absolute;
    right: 0;

    @media (width < v.$breakpoint-mobile) {
      background-image: url('../images/icon-hamburger.svg');
      display: block;

      &[data-menu="opened"] {
        background-image: url('../images/icon-close.svg');
      }
    }

    &__menu {
      position: relative;
    }


  }

  &__list {
    gap: var(--space-500);
    flex-wrap: wrap;
    z-index: 2;

    @media screen and (width < v.$breakpoint-mobile) {
      flex-direction: column;
      position: absolute;
      left: 50%;
      top: var(--space-800);
      transform: translateX(-50%);
      background-color: white;
      width: 90%;
      text-align: center;
      padding: var(--space-600);
      border-radius: var(--radius-sm);
      opacity: 0;
      z-index: -1;
    }


    &[data-menu="opened"] {
      @media screen and (width < v.$breakpoint-mobile) {
        opacity: 1;
        z-index: 2;
      }
    }
  }

  &__link {
    color: var(--color-black-base);

    @media screen and (width < v.$breakpoint-mobile) {
      font-weight: var(--font-weight-xbd);
    }

    &:hover,
    &:focus {
      color: var(--color-black-light);
    }

    &--cta {
      margin-left: var(--space-500);

      @media screen and (width < v.$breakpoint-mobile) {
        display: none;
      }

      &:hover {
        color: var(--color-gray-base);
      }
    }

  }

  &__logo-link {
    align-self: end;
    margin-right: var(--space-500);
    z-index: 2;
  }
}

.hero {
  margin-top: var(--space-700);
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: var(--space-500);

  &__content {
    flex: 1;

    @media screen and (width < v.$breakpoint-mobile) {
      text-align: center;
    }
  }

  &__heading {
    margin-bottom: var(--space-400);
    width: 80%;

    @media screen and (width < v.$breakpoint-mobile) {
      width: 100%;
    }
  }

  &__description {
    width: 65%;
    margin-bottom: var(--space-600);

    @media screen and (width < v.$breakpoint-mobile) {
      width: 80%;
      margin-inline: auto;
    }
  }

  &__image {
    @media screen and (width < v.$breakpoint-mobile) {
      width: 100%;
      order: -1;
    }
  }
}

.difference {
  margin-top: var(--space-800);
  grid-template-rows: 1fr 3.5fr;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: column;

  @media screen and (width < v.$breakpoint-mobile) {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  &__heading {
    width: 80%;

    @media screen and (width < v.$breakpoint-mobile) {
      width: 100%;
      text-align: center;
    }

  }

  &__description {
    margin-top: var(--space-200);
    width: 60%;

    @media screen and (width < v.$breakpoint-mobile) {
      width: 100%;
      text-align: center;
      margin-bottom: var(--space-600);
    }
  }

  &__feature {
    counter-reset: feature;
    grid-row: span 2;
    width: 75%;
    justify-self: end;

    @media screen and (width < v.$breakpoint-mobile) {
      width: 100%;
    }
  }
}

.recommend {
  margin-top: var(--space-900);
  text-align: center;

  &__list {
    white-space: nowrap;
    margin-top: var(--space-800);
  }

  &__item {
    position: relative;
    display: inline-block;
    white-space: normal;
    width: 45%;
    padding: var(--space-600);
    background-color: var(--color-gray-base);

    @media screen and (width < v.$breakpoint-mobile) {
      width: 100%;
    }

    &+& {
      margin-left: var(--space-600);
    }
  }

  &__link {
    display: inline-block;
    margin-top: var(--space-700);
  }

  &__btn-list {
    @include m.hide-el;

    @media screen and (width < v.$breakpoint-mobile) {
      @include m.show-el;
    }
  }

  &__btn {
    margin-top: var(--space-600);

    &+& {
      margin-left: var(--space-100);
    }

    &::after {
      content: "â—";
      color: transparent;
      outline: 1px solid var(--color-red-base);
      display: inline-block;
      width: 1ch;
      height: 1ch;
      border-radius: 50%;
    }

    &--select {
      &::after {
        background-color: var(--color-red-base);
      }
    }
  }
}

.cta {
  margin-top: var(--space-900);
  background-color: var(--color-red-base);
  padding-top: var(--space-700);
  padding-bottom: var(--space-700);
  background-image: url(../images/bg-simplify-section-desktop.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: auto;

  &__wrapper {
    align-items: center;
    justify-content: space-between;

    @media screen and (width < v.$breakpoint-mobile) {
      flex-direction: column;
    }
  }

  &__heading {
    font-weight: var(--font-weight-xbd);
    width: 45%;
    color: var(--color-red-exlight);

    @media screen and (width < v.$breakpoint-mobile) {
      width: 90%;
      text-align: center;
      font-size: var(--fs-xxl);
      margin-bottom: var(--space-500);
    }
  }
}

.footer {
  background-color: var(--color-black-dark);
  padding-inline: max(2rem, (100% - v.$content-max-width) / 2);
  grid-template: 1fr 1fr / 1fr 2fr auto;
  grid-auto-flow: column;
  padding-top: var(--space-700);
  padding-bottom: var(--space-700);
  column-gap: var(--space-600);

  @media screen and (width < v.$breakpoint-mobile) {
    grid-template: auto / auto;
    grid-auto-flow: row;
    row-gap: var(--space-600);
    justify-items: center;
    padding-bottom: var(--space-600);
  }

  &__contact {
    flex-direction: column;
    justify-content: space-between;
    grid-row: span 2;

    @media screen and (width < v.$breakpoint-mobile) {
      width: 100%;
      align-items: center;
      row-gap: var(--space-600);
    }
  }

  &__submenu {
    grid-template: repeat(4, 1fr) / 1fr 1fr;
    justify-content: center;
    grid-row: span 2;
    column-gap: var(--space-500);

    @media screen and (width < v.$breakpoint-mobile) {
      order: -1;
      column-gap: var(--space-700);
    }
  }

  &__copyright {
    align-self: end;
    justify-self: end;

    @media screen and (width < v.$breakpoint-mobile) {
      justify-self: auto;
    }
  }
}
